<h1>Artistas</h1>
<table>
<thead>
 <tr>
   <th>Nombre</th>
   <th>image url</th>
   <th></th>
 </tr>
</thead>
<tbody>
 <% @artists.each do |artist| %>
   <tr>
     <td><%= artist.name %></td>
     <td><%= artist.image_url %></td>
     <td>
       <%= link_to "Mostrar", artist %>
     </td>
   </tr>
 <% end %>
</tbody>
</table>
